{% extends 'base1.html' %}
{% load static %}
{% block content %}
<style>
        h2 {text-align: left;}
</style>
<!-- Main Content - start -->
<main>
<section class="container stylization maincont">
    <ul class="b-crumbs">
    <li>
        <a href="/products/products">
            Home
        </a>
    </li>
    <li>
        <span>Lost Password</span>
    </li>
</ul>
<h1 class="main-ttl"><span></span></h1>
<div class="auth-wrap">
    <div class="auth-col">
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}


        <h2>Password Reset</h2>
        <form action="reset" method="post" >
            {% csrf_token %}
            <p>
                <label>UserName<span class="required">*</span></label>
                <input type="text" name="username">
            </p>
            <p>
                <label>E-mail <span class="required">*</span></label>
                <input type="text" name="email">
            </p>
            <p>
               <input type="submit" value="send">
            </p>
        </form>
    </div>
    <div class="auth-col">
        </form>
    </div>
</div>
</section>
</main>

{% endblock %}